#titulo {
  font-family: Georgia, sans-serif;
  font-size: xxx-large;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-badge {
  --padding-bottom: 0.3em;
  --padding-top: 0.3em;
  --padding-end: 0.3em;
  --padding-start: 0.3em;
  font-size: 2.5em;
  font-family: Impact, sans-serif;
}

.bottom-badge {
  margin: 8px auto;
  display: block;
  width: 44%;
  --padding-bottom: 0.25em;
  --padding-top: 0.25em;
  --padding-end: 0.25em;
  --padding-start: 0.25em;
  --background: url(../../../assets/score.jpg) 0 0/100% 100% no-repeat;
  border-radius: 50%;
  font-size: 7em;
  font-family: Impact, sans-serif;
  color: #ffffff;
}

ion-img {
  height: 350px;
  text-align: center;
  display: block;
  margin: auto;
}

.barra-abajo {
  margin-top: 0;
}
.barra-medio {
  margin-top: 0;
  margin-bottom: 0;
}
.barra-arriba {
  margin-bottom: 0;
}

.categorias {
  font-family: "Arial Black", sans-serif;
  font-size: large;
}

.normal {
  font-family: Arial, sans-serif;
  font-size: large;
}

ion-item {
  --background: var(--ion-color-primary);
}

.form-item {
  --background: var(--ion-color-toolbar);
}

.form-button {
  --background: var(--ion-color-success);
}

.form-list {
  --background: var(--ion-color-secondary);
}

ion-item-group {
  width: 100%;
}

hr {
  border-top: 4px solid #000c31;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
}

#plot {
  margin-top: 0;
}

.red{
  color: var(--ion-color-danger);
}

.green{
  color: var(--ion-color-success);
}

ion-content {
  --background: var(--ion-color-primary);
}
