<app-header></app-header>

<ion-content color="primary">
  <hr class="barra-arriba">

  <!-- Titulo en font diferente -->
  <ion-item color="secondary" class="ion-text-center">
    <ion-label id="titulo">{{serie.title}}</ion-label>
  </ion-item>

  <hr class="barra-abajo">

  <!-- Slides con todas las imágenes de la serie -->
  <swiper [pagination]="true">
    <ng-template *ngFor="let image of serie.images" swiperSlide>
      <ion-img [src]="image" alt="Imagen del slide"></ion-img>
    </ng-template>
  </swiper>

  <hr class="barra-arriba">

  <!-- Las categorias a las que pertenece -->
  <ion-item color="secondary" class="ion-text-center">
    <ion-label class="categorias" *ngFor="let c of serie.categories">
      \{{c}}/
    </ion-label>
  </ion-item>

  <hr class="barra-medio">

  <!-- Información general -->
  <ion-item color="secondary" class="ion-text-center">
    <ion-label class="categorias">Episodios: </ion-label><ion-label class="normal">{{serie.episodes}} </ion-label>
    <ion-label class="categorias">Año de emisión: </ion-label><ion-label class="normal">{{serie.year}}</ion-label>
  </ion-item>

  <hr class="barra-abajo">

  <h2> SINOPSIS </h2>

  <ion-item class="ion-text-justify ion-padding" lines="none">
    <ion-text class="normal" id="plot">{{serie.plot}}</ion-text>
  </ion-item>

  <hr class="barra-arriba">

  <div class="score_container">
    <img src="assets/shapes.svg" alt="Score">
    <div class="centered">{{puntuacionMedia2()}}</div>
  </div>

  <hr class="barra-medio">

  <ion-button id="user-modal" expand="block" color="success"><b>Puntua la serie</b></ion-button>

  <hr class="barra-abajo">

  <!-- Aquí empieza el HTML del formulario -->
  <ion-modal trigger="user-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title>Puntua aquí</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form #formulario="ngForm" (ngSubmit)="onSubmit()">
          <ion-list>

            <ion-item class="form-item">
              <ion-label>
                Reseña Válida
                <span [ngClass]="{'red':!formulario.valid, 'green':formulario.valid}">
                  {{formulario.valid}}
                </span>
              </ion-label>
            </ion-item>

            <ion-item class="form-item">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" name="email" [(ngModel)]="usuario.email"
                         pattern="^([a-zA-Z0-9.])+@+([a-zA-Z])+\.+([a-zA-Z]{2,5})" required="true">
              </ion-input>
            </ion-item>

            <ion-item class="form-item">
              <ion-range name="rating" [(ngModel)]="usuario.score"
                         min="0" max="10" step="1" snaps="true" color="tabbar"
                         required="true">
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">10</ion-label>
              </ion-range>
            </ion-item>

          </ion-list>

          <ion-button expand="full" type="submit" [disabled]="formulario.invalid" class="form-button">
            Confirmar
          </ion-button>
        </form>
      </ion-content>

    </ng-template>
  </ion-modal>
  <!-- Aquí acaba el HTML del formulario -->

</ion-content>
