<app-header></app-header>

<ion-content color="primary">
  <hr class="barra-arriba">

  <ion-item color="secondary" class="ion-text-center">
    <ion-label id="titulo">{{serie.title}}</ion-label>
  </ion-item>

  <hr class="barra-abajo">

  <swiper [pagination]="true">
    <ng-template *ngFor="let image of serie.images" swiperSlide>
      <ion-img [src]="image" alt="Imagen del slide"></ion-img>
    </ng-template>
  </swiper>

  <hr class="barra-arriba">

  <ion-item color="secondary" class="ion-text-center">
    <ion-label class="categorias" *ngFor="let c of serie.categories">
      \{{c}}/
    </ion-label>
  </ion-item>

  <hr class="barra-medio">

  <ion-item color="secondary" class="ion-text-center">
    <ion-label class="categorias">Episodios: </ion-label><ion-label class="normal">{{serie.episodes}} </ion-label>
    <ion-label class="categorias">Año de emisión: </ion-label><ion-label class="normal">{{serie.year}}</ion-label>
  </ion-item>

  <hr class="barra-abajo">

  <h2> SINOPSIS </h2>

  <ion-item class="ion-text-justify ion-padding">
    <ion-label class="normal">{{serie.plot}}</ion-label>
  </ion-item>

</ion-content>
