ion-img {
  margin: 0 auto;
}

.list-ios {
  background: var(--ion-color-primary);
}

.list-md {
  background: var(--ion-color-primary);
}

#titulo {
  font-size: 2.5em;
  font-weight: bolder;
  width: 100%;
  padding-inline: 0;
}
