<app-header></app-header>

<ion-content class="ion-padding" color="primary">

  <ion-list>
    <ion-card *ngFor="let s of series"
    [routerLink]="['/tabs/serie/', s._id]">
      <ion-card-header color="success">
        <ion-title>{{s.title}}</ion-title>
      </ion-card-header>

      <ion-img src="{{s.images[0]}}"></ion-img>

      <ion-card-content class="ion-text-center">
        <ion-label *ngFor="let c of s.categories">
          |{{c}}|
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">

    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

</ion-content>
