<app-header></app-header>

<ion-content class="ion-padding" color="primary">

  <ion-list>
    <ion-item *ngFor="let item of series">
      <ion-img src="{{item.images[0]}}" style="width: 300px; height: 300px"></ion-img>
      <ion-label>{{item.title}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">

    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

</ion-content>
